@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 20px;
  background-color: #24252a;
}
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --button-bg: #efefef;
}

body.dark-mode {
  --bg-color: #222222;
  --text-color: #f0f0f0;
  --button-bg: #555555;
}
p,
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}
.Logo {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  border: solid black 2px;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin: 0 15px;
}
.navigation li a {
  transition: all 0.3s ease 0s;
}
.navigation li a::hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 0.1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.Logo {
  margin-right: auto;
}

main {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 20px;
  text-align: center;
}
.content {
  display: flex;
  font-weight: bold;
  max-width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid aquamarine;
  padding: 15px;
  background-color: #24252a;
  border-radius: 10px;
}

nav {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav li {
  margin-left: 25px;
}

.profile-photo {
  width: 250px;
  height: 250px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  display: block;
}
a:hover {
  color: burlywood;
  text-decoration: none;
  cursor: pointer;
}
.linkedin-icon {
  margin-top: 20px;
  width: 40px;
  height: 40px;
}
.linkedin-icon:hover {
  cursor: pointer;
  transition-delay: 0.2s;
  transform: scale(1.2);
}
h1,
h2 {
  color: #edf0f1;
  font-weight: bold;
}
