@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #24252a;
}
p,
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}
.Logo {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin: 0 15px;
}
.navigation li a {
  transition: all 0.3s ease 0s;
}
.navigation li a::hover {
  color: #0088a9;
}
button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 0.1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
